#compare-add-item{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 500px;
    height: 250px;
    z-index: 2000;
    background-color: #444;
    color: white;
    padding: 10px;
    border-radius: 0.3em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}