#filter-card{
    display: flex;
    flex-direction: column;
}
#filter-card p {
    text-align: justify;
    width: 90%;
    position: relative;
    left: 5%;
    box-sizing: border-box;
    padding: 2px;
}
