

.list-car{
    animation: fadein 2s forwards;
    width: 75%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    left: 12.5%;
    text-align: center;
    list-style:none;
}
#table-index-car {
    position: relative;
    top: 20px;


}
@media screen and (max-width: 800px){
    .list-car > li {
        width: calc(100%);
        height: 300px;
    }
}
@media screen and (min-width: 800px){
    .list-car > li {
        width: calc(100% / 2);
    }
}
@media screen and (min-width: 1200px){
    #table-index-car{
        position: relative;
        top:60px;
        width: 100%;
        height: calc(100vh - 60px);
        display: none;
        opacity: 0;
        overflow: auto;
    }
    .list-car{
        top: 28px;
    }
    .list-car > li {
        width: calc(100% / 3);
        height: calc((100vh - 195px) / 3);
        min-height: 215px;
    }
    #page-frame{
        position: relative;
        top: 60px;
    }
}





#loading{
    display: block;
    position: fixed;
    top:50%;
    left:50%;
}
#page-frame {
    width:80%;
    position: relative;
    left: 10%;
    bottom:0;
    display:flex;
    justify-content:center;
    align-items: center;
    z-index:1000;
    height:60px;
    border-top: 1px lightgray solid;
    list-style: none;
}
#page-frame li:not(:last-of-type){
    margin-right: 20px;
}
#page-frame li:not(:nth-of-type(2)){
    display: inline-block;
    padding: 0.4em;
    cursor: pointer;
}

#page-frame .arrow {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #666;
}
#page-frame .arrow:hover {
    transition: color 0.3s ease-out;
    color: darkblue;
}


#form-page input {
    padding: 0.2em;
    height: 100%;
    width:3em;
    border: 1px #666 solid;
    border-radius: 0.3em;
    height:28px;
    text-align: center;
}
#form-page input:hover, #form-page input:focus{
    border-color: darkblue;
}









