<!DOCTYPE html>
<html>
<head>
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'frontend/css/animations.css' %}"/>
  <link rel="stylesheet" href="{% static 'frontend/css/header.css' %}"/>
  <link rel="stylesheet" href="{% static 'frontend/css/main.css' %}"/>
  <link rel="stylesheet" href="{% static 'frontend/css/content.css' %}"/>
  <link rel="stylesheet" href="{% static 'frontend/css/list.css' %}"/>
  <link rel="stylesheet" href="{% static 'frontend/css/search_frame.css' %}"/>
  <link rel="stylesheet" href="{% static 'frontend/css/imagelayout.css' %}"/>
  <link rel="stylesheet" href="{% static 'frontend/css/tableCard.css' %}"/>
  <link rel="stylesheet" href="{% static 'frontend/css/genview.css' %}"/>
  <link rel="stylesheet" href="{% static 'frontend/css/filter_card.css' %}"/>
  <link rel="stylesheet" href="{% static 'frontend/css/infos_model.css' %}"/>
  <link rel="stylesheet" href="{% static 'frontend/css/inscription.css' %}"/>
  <link rel="stylesheet" href="{% static 'frontend/css/connexion.css' %}"/>
  <link rel="stylesheet" href="{% static 'frontend/css/profile_list.css' %}"/>
  <link rel="stylesheet" href="{% static 'frontend/css/contact.css' %}"/>
  <link rel="stylesheet" href="{% static 'frontend/css/modelview.css' %}"/>
  <link rel="stylesheet" href="{% static 'frontend/css/markview.css' %}"/>
  <link rel="stylesheet" href="{% static 'frontend/css/manage_pannel.css' %}"/>
  <link rel="stylesheet" href="{% static 'frontend/css/manage_pannel.css' %}"/>
  <link rel="stylesheet" href="{% static 'frontend/css/about.css' %}"/>
  <link rel="stylesheet" href="{% static 'frontend/css/paypal_frame.css' %}"/>
  <link rel="stylesheet" href="{% static 'frontend/css/comparator.css' %}"/>
  <link rel="stylesheet" href="{% static 'frontend/css/add_item.css' %}"/>
  <link rel="stylesheet" href="{% static 'frontend/css/item_manager.css' %}"/>
  <link rel="stylesheet" href="{% static 'frontend/css/compareview.css' %}"/>
  <link rel="stylesheet" href="{% static 'frontend/css/infos_bulles.css' %}"/>
  <link rel="stylesheet" href="{% static 'frontend/css/statistics.css' %}"/>
  <link rel="stylesheet" href="{% static 'frontend/css/helpInfo.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'frontend/css/slick.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'frontend/css/slick-theme.css' %}"/>
  <script src="https://www.paypal.com/sdk/js?client-id=ASKfsVrwQXUJc9F16eK0q34xSS2g81TUbdeYWU4K3c9OXaP-rc7000dAkO-5Unkp4SGAyoWK3w3waZq_">
  </script>
  <title id="main-title">InvestCar</title>
</head>
<body>
<div id="app">
</div>
</body>
<script>
  var static_root = "{% static 'frontend/models' %}";
  var static_img = "{% static 'frontend/imgs' %}";
  
</script>

<script src="{% static 'frontend/main.js' %}"></script>
</html>